hr{
  
border: 1px solid skyblue;
  
}


button{
  background-color: skyblue;
  color: white;
}


.fondo{
  background-image: url(../assets/img-fondo.png);
  background-repeat: no-repeat;
  background-position: center center;
  
}

.fondoprecios{
  background-image: url(../assets/caja.png);
  background-repeat: no-repeat;
  background-position: center top;
  
}

h1, h4{
  font-family: 'Open Sans Condensed', sans-serif;
}

h1{
  text-shadow: 1px 1px 1px  gray;
}